@import 'https://fonts.googleapis.com/css?family=Open+Sans';
.App {
  text-align: left;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #222;
}

.App-Body {
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-size: 24px;
  background-color: #222;
  color: #aaa;
}

.empty-line {
  list-style-type: none;
}
.image {
  vertical-align: top;
}
ul {
  margin: 4px;
}

li {
  line-height: 1.5em;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 36px;
  line-height: 34px;
}

h2 {
  font-size: 32px;
  line-height: 25px;
}

h3 {
  font-size: 28px;
  /*line-height: 27px;*/
  /*padding-top: 15px;*/
  /*padding-bottom: 15px;*/
  /*border-bottom: 1px solid #D8D8D8;*/
  /*border-top: 1px solid #D8D8D8;*/
}

hr {
  height: 1px;
  background-color: #d8d8d8;
  border: none;
  width: 100%;
  margin: 0px;
}

a[href] {
  color: #1e8ad6;
}

a[href]:hover {
  color: #3ba0e6;
}


.code-inline {
  background-color: rgba(208, 208, 208, 0.08);
  padding: 0.06em;
  border-radius: 0.2em;
}
pre {
  tab-size: 4;
}
pre code.hljs {
  padding: 0.1em 1em 0.1em 1em;
}
blockquote {
  background: #4c4c4c5c;
  padding: 0.5em 20px 0.5em 20px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  color: #bbb;
}
table tbody tr {
  border-bottom: 1px solid #7a7a7a;
}
table tbody tr td {
  padding: 0.3em;
}

table tbody tr:nth-of-type(odd) {
  background-color: #072300;
}
table tbody tr:nth-of-type(even) {
  background-color: #000b39;
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
